.notDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pikaDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.pikachu {
  width: 500px;
}

@media screen and (max-width: 768px){
  .pikachu {
    width: 300px;
  }
}