.but1 {
  display: inline-block;
  border-radius: 10px;
  background-color: red;
  border: 1px solid #e74c3c;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.but1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but1 span:after {
content: '«';
position: absolute;
opacity: 0;
top: 0;
left: -15px;
transition: 0.5s;
}

.but1:hover span {
padding-left: 15px;
}

.but1:hover span:after {
opacity: 1;
left: 0;
}

.but2 {
  display: inline-block;
  border-radius: 10px;
  background-color: red;
  border: 1px solid #e74c3c;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.but2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but2 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.but2:hover span {
  padding-right: 15px;
}

.but2:hover span:after {
  opacity: 1;
  right: 0;
}

.pokemon-info, .pokeName, .ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokeName h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.pokImg {
  width: 300px;
}

.ability {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  width: 200px;
}

.ability h3, .ability div{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.ability div details summary {
  cursor: pointer;
}

.ability h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.statsAbility {
  display: flex;
  align-items: flex-start;
}

.stats {
  margin: 30px;
}

.stats h3 {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.stats, .statsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points {
  display: flex;
  border: black 1px solid;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.cont1 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.cont1 h3 {
  border: 1px solid black;
  padding: 10px;
}

.cont2 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.cont3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cont4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  width: 200px;
  text-align: center;
}

.caso2 {
  cursor: pointer;
  padding: 10px;
  border: black 1px solid;
}

.caso1 {
  cursor: pointer;
  padding: 10px;
  border: black 1px solid;
  border-bottom: none;
}

.cont5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: black 1px solid;
  border-top: none;
}

.imgCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border: black 1px solid;
}

.imgCont h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: black 1px solid;
  width: 100%;
  padding: 10px 0;
}

.img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: black 1px solid;
}

.nomePok {
  width: 100%;
  text-align: center;
}

.lado {
  margin-top: 10px;
}

.buttonCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
}

.img2 img {
  width: 200px;
}

.img3 {
  display: flex;
}

@media screen and (max-width: 768px){
  .pokeBusca {
    width: 100%;
    flex-wrap: wrap;
  }

  .but1 {
    order: 3;
    margin-top: 15px;
  }

  .but2 {
    order: 4;
    margin-top: 15px;
  }

  .pokeBusca input {
    order: 0;
  }

  .searchButton {
    order: 1;
  }
  .statsAbility {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .ability, .stats {
    margin: 0;
  }
  
  .ability {
    width: 150px;
    margin-right: 5.5%;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .ability h3, .ability div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statsAbility {
    margin-bottom: 20px;
  }

  .cont2 {
    padding: 0;
  }

  .cont4 {
    width: 150px;
  }

  .imgCont {
    width: 90%;
    margin: 0;
    margin-top: 20px;
  }

  .img1 {
    align-items: center;
    justify-content: center;
  }

  .img2 {
    width: 49%;
  }

  .img2 img {
    width: 140px;
  }  
  
  .img3 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .ev2 h1 {
    font-size: 1.7rem;
  }

  .ev2 img {
    width: 110px;
  }

  .ev2 {
    width: 165px;
  }

  .ev3 {
    align-items: center;
    justify-content: center;
  }

}